<button >+ Products</button>
<div class="carousel-container">
  <div class="carousel">
    <div class="carousel-slide">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Image</th>
            <th>Brands</th>
            <th>Product code</th>
            <th>Categories</th>
            <th>Stock Overview</th>
            <th>Sales Price</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of items; let i = index">
            <tr [ngClass]="i % 2 === 0 ? 'bg-gray-200' : 'bg-white'">
              <td>{{ item.num }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.Image }}</td>
              <td>{{ item.Brands }}</td>
              <td>{{ item.Productcode }}</td>
              <td>{{ item.categories }}</td>
              <td>{{ item.stack }}</td>
              <td>{{ item.sale }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="carousel-circles">
    <div class="carousel-circle" *ngFor="let item of items; let i = index" (click)="currentSlide = i" [class.active]="currentSlide === i"></div>
  </div>



  

<div class="modal">
    <div class="modal-content">
      <span class="close-icon" >&times;</span> 

   
      <h3 class="modal-title"> product detail </h3>
  <hr>
  <p class="modal-title">Heart & Slogan Graphic Tee</p>
      <div class="img-row">
        <div class="img-col1">
            
            <img width="150" height="174"  src="assets/productDetail.PNG" alt="My Image">
            
        </div>
        
            
            <div class="col2">
                <img width="55" src="assets/productDetail.PNG" alt="My Image">
                <img width="55" src="assets/productDetail.PNG" alt="My Image">
                <img width="55" src="assets/productDetail.PNG" alt="My Image">
            </div>
            <div  class="col3">
                <img width="55" src="assets/productDetail.PNG" alt="My Image">
                <img width="55" src="assets/productDetail.PNG" alt="My Image">
                <img width="55" src="assets/productDetail.PNG" alt="My Image">
            </div>
            
            
        
      </div>
      
  
      
  
      <div class="container">
        <div class="left-cat">
            <div class="category">
            <h5>Categories :</h5>
            <p>T-shirt</p>
            </div>
            
            <div class="category">
                <h5>Average price :</h5>
                <p>230,000$</p>
                </div>
    
                <div class="category">
                    <h5>Unit Sale :</h5>
                    <p>230,000$</p>
                    </div>
                </div>


            <div class="right-cat">
                    <div class="category">
                    <h5>Brands:</h5>
                    <p>zara</p>
                </div>
                   
                     <div class="category">
                        <h5>Bulk Sale:</h5>
                        <p>230$</p>
                        </div>
            
                        <div class="category">
                            <h5>Quantity :</h5>
                            <p>12item</p>
                            </div> 
                        </div>


     </div>
     <hr class="mt-0 mb-8">
      
  
     <div class=" btn flex justify-end">
     
      <button class=" btn px-7 py-1 bg-pink-200 border-pink-500 text-pink-600 " > Delete</button> 
      <button class="btn px-6 py-1 bg-pink-500 text-white"  >Edit</button>
    </div>
    </div>
  </div> 
  