<div class="carousel-container h-[80%] bg-white w-[78%] mx-24 justify-center my-16">
  <div class="carousel ">
    <div class="carousel-slide " *ngFor="let item of tableItems; let i = index" [class.active]="i === activeSlideIndex">
      <table class="w-[96%]">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of tableItems; let j = index">
            <tr [class.white-row]="j % 2 === 0" [class.gray-row]="j % 2 !== 0">
              <td>{{ item.num }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.phone }}</td>
              <td>
                <span class="status-circle" [ngClass]="{ 'status-active': item.status, 'status-inactive': !item.status }"></span>
                <span [ngClass]="{ 'status-active': item.status, 'status-inactive': !item.status }">{{ item.status ? 'Active' : 'Inactive' }}</span>
              </td>
              <td>
                <span [ngClass]="item.status ? 'status-circle active' : 'status-circle inactive'"></span>
                {{ item.status ? 'Active' : 'Inactive' }}
              </td>
              <td>
                <div class="dropdown">
                  <button (click)="toggleDropdown(item.num)">
                    <i class="fas fa-ellipsis-v"></i>
                  </button>
                  <div class="dropdown-content" [ngClass]="{ 'show': dropdownIndex === item.num }">
                    <button (click)="editItem(item)">Edit</button>
                    <button (click)="deleteItem(item)">Delete</button>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  
  <div class="carousel-pagination">
    <div class="carousel-icon bigger-icon">&lt;</div>
    <div class="carousel-circle" *ngFor="let item of tableItems; let i = index" [class.active]="i === activeSlideIndex" (click)="changeSlide(i)"></div>
    <div class="carousel-icon bigger-icon  ">&gt;</div>
  </div>
  
  

</div>
