<div class="dashboardHead">
    <p>Mango clothes</p>
    <button >+ Customer</button>
</div>

<div class="input-row">
    <input class="input1" type="text"  placeholder="    scan Barcode ">
    </div>

    <div class="container">
        <div class="left-cat">
            <img width="145" src="assets/Capture2.PNG" alt="My Image">
                </div>


            <div class="right-cat">
                    <div class="category">
                    <h4><b>Heart & Slogan</b></h4>
                </div>
                   
                     <div class="category">
                        <h5>Bulk Sale:</h5>
                        <p>230$</p>
                        </div>
            
                        <div class="category">
                            <h5>Quantity :</h5>
                            <p>12item</p>
                            </div> 
                        </div>


     </div>
    
  